@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@import "tailwindcss";

@theme {
  /* Font */
  --font-body: "Bai Jamjuree", sans-serif;

  /* Colors */
  --color-green-500: hsl(171, 66%, 44%);
  --color-blue-100: hsl(233, 100%, 69%);
  --color-gray-700: hsl(210, 10%, 33%);
  --color-gray-500: hsl(201, 11%, 66%);
}

@layer components {
  * {
    @apply scroll-smooth;
  }

  /* Title */
  .section-title-3xl {
    @apply text-gray-700 text-3xl font-semibold md:text-4xl lg:text-5xl;
  }

  .section-title-2xl {
    @apply text-gray-700 text-2xl font-semibold md:text-3xl lg:text-4xl;
  }

  .section-title-xl {
    @apply text-gray-700 text-xl font-semibold md:text-2xl lg:text-3xl;
  }
  /* Title */

  /* Button */
  .button-container {
    @apply w-full flex flex-col justify-center items-center gap-5 gap-x-4 md:flex-row;
  }

  .green-button {
    @apply bg-green-500 text-white w-full flex justify-center items-center px-10 py-3 rounded-full shadow-[0_3px_0px_rgba(0,0,0,1),0_10px_50px_-18px_rgba(0,0,0,1)] shadow-green-700/80 transition-all duration-200 ease-in-out lg:text-lg lg:hover:bg-green-500/70 lg:hover:shadow-green-700/60;
  }

  .blue-button {
    @apply bg-blue-100 text-white w-full flex justify-center items-center px-10 py-3 rounded-full shadow-[0_3px_0px_rgba(0,0,0,1),0_10px_50px_-18px_rgba(0,0,0,1)] shadow-blue-700/80 transition-all duration-200 ease-in-out lg:text-lg lg:hover:bg-blue-100/70 lg:hover:shadow-blue-700/60;
  }

  .nav-button {
    @apply text-gray-700 transition-all duration-200 ease-in-out lg:text-lg lg:hover:text-green-500;
  }

  .socmed-button {
    @apply text-gray-700 transition-all duration-200 ease-in-out lg:text-lg lg:hover:text-green-500;
  }
  /* Button */

  /* Container */
  .flex-col-gap-10 {
    @apply flex flex-col gap-10;
  }

  .flex-col-gap-8 {
    @apply flex flex-col gap-8;
  }

  .flex-col-gap-3 {
    @apply flex flex-col gap-3;
  }

  .flex-col-gap-2 {
    @apply flex flex-col gap-2;
  }
  /* Container */
}
